.card {
	margin-top:50px;
	display:flex;
	flex-direction:row;
}
.footer {
	height:32px;
	width:100%;
	alignment-adjust:central;
	text-align:center;
	background-color:#333;
	color:#FFF;
}
